/* barra de navegacion */
.navbar{
    padding: 10px;
    background-color: #f5f6f7;
}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;

}

/* estilos generales */
section{
    display: flex;
    flex-direction: column;
    aling-items: center;
    justify-content: center;
}
h1{
    font-size: 50px;
}
.seccion-oscura{
    background-color: #000000;
    color: white;
}
.seccion-clara{
    color: black;
    background-color: white;
}
/* seccion Hero */
.hero{
    min-height: 450px;
    text-align: center;
}
.hero-principal{
    padding: 10px;
}
.imagen_jhordan {
    width: 200px;
    height: 200px;
    margin: 20px;
}
.hero-principal h1 {
    font-family: "Sacramento", cursive;
}
.hero-principal h2 {
    font-family: "Architects Daughter", cursive;
}

/* sobre mi */
.sobre-mi{
    height: 500px;
    padding: 10px;
}
.sobre-mi .contenedor{
    max-width: 500px;
    text-align: center;
}
.seccion-titulo{
    font-family: "Shadows Into Light", cursive;
}
.seccion-texto{
    font-family: "Urbanist", sans-serif;
}

/* Experiencia */
.experiencia{
    padding: 40px 40px 60px 40px;;
}
.experiencia i{
    font-size: 20px;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 12px;
    border-radius: 50%;
}
.experiencia .row div {
    height: 330px;
    padding: 10px;
}
.experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}
.badges-contenedor{
    font-size: 20px;
    font-weight: bold;
}
.columna {
    padding: 20px;/* 
    border:2px solid #8080804d; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}
.columna:hover{
    color: white;
    background-color: #1b1b32;
}


/* responsive (logo no se muestra en tamaño mas pequeño) */
@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
}

/* responsive para imagen del hero */
@media screen and (min-width:700px){
    .hero-inferior-imagen{
        max-width: 500px;
    }
}

/* @media screen and (min-width:700px){
    .experiencia .row div {
        max-width: 500px;
    }
} */
